<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-4">Thêm suất chiếu mới</h1>

      <div class="card">
        <div class="card-body">
          <%= render 'form', showtime: @showtime %>
        </div>
      </div>
    </div>
  </div>
</div>